[Unit]
Description=Run omnissm-inventory 10 minutes after boot, then every 30 minutes

[Timer]
# Define target unit (in case the name part is the same, can be omitted)
Unit=omnissm-inventory.service

# Time to wait after booting before we run first time
OnBootSec=10min

# Time between running each consecutive time
OnUnitActiveSec=30min

OnCalendar=hourly

[Install]
WantedBy=multi-user.target
