.git
**/*.pyc
*.egg-info/
*.swp
src/
deps/
include/
lib/
bin/
dist/
man/
lib64/
coverage/
tmp/
docs/source/generated/
docs/build/
cache/
policies/
local/
share/
out/
.DS_STORE
.tox/
results.xml
.idea/
.vscode/
!.vscode/*.sample
.pytest_cache/
.Python
pip-selfcheck.json
.coverage
*~
