*.pyc
*.egg-info/
*.swp
.eggs/
.terraform
# c7n/version.py
src/
deps/
include/
lib/
bin/
!tools/c7n_azure/c7n_azure/function_binding_resources/bin
tools/c7n_azure/c7n_azure/function_binding_resources/obj/
tools/c7n_azure/c7n_azure/cache
dist/
man/
lib64
.Python
pip-selfcheck.json
coverage/
.coverage
tmp/
docs/source/generated/
docs/build/
cache/
policies/
local/
*~
share/
out/
.DS_STORE
.tox/
results.xml
.idea/
.vscode/
!.vscode/*.sample
.pytest_cache/
pip-wheel-metadata/
pyvenv.cfg
junit
/.vs
# these files get copied/generated during doc builds
docs/source/overview\.rst
docs/source/tools/*\.md
docs/source/*/resources
docs/source/tools/assets/
.tfcache
.env
