prune tests
prune tools
prune docs
prune .vscode
prune .github
prune .azure-pipelines
global-exclude .travis.yml .gitignore .drone.yml .dockerignore .coveragerc
global-exclude .codecov.yml requirements*txt tox.ini Makefile .azure-piplines.yml


