awscli>=1.11.39
boto3>=1.4.4
botocore>=1.5.2
click>=6.7
colorama>=0.3.7
docutils>=0.13.1
futures>=3.2.0
jmespath>=0.9.3
pyasn1>=0.4.2
python-dateutil>=2.6.1
PyYAML>=4.2b4
requests>=2.12.5
rsa==4.6
s3transfer>=0.1.10
six>=1.10.0
c7n>=0.8.22.0
awslogs>=0.8.0
