#
# Copyright 2016 LinkedIn Corp.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.
#

# general
*~
*.log
tmp
dump
.history
/*.iml
/out

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# IDEA
/.idea
/.idea_modules

# SBT
dist
project/project
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID

# macOS
.DS_Store

*.jar

#web
public/assets/ember/
public/assets/fonts/
web/bower_components/
web/node_modules/
