{{!--

 Copyright 2016 LinkedIn Corp.

 Licensed under the Apache License, Version 2.0 (the "License"); you may not
 use this file except in compliance with the License. You may obtain a copy of
 the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 License for the specific language governing permissions and limitations under
 the License.

--}}

<div class="nav-extension"></div>

<div class="container" role="main">

    <table class="dashboard-header">
        <tr>

            <td class="logo">
                <img src='assets/images/logo.png'>

            </td>
            <td>
                <div class="bubble">
                    <h3>Hello there, I've been busy!</h3>

                    <p>I looked through <span class="bold">{{model.total}}</span> jobs today.<br>
                        About <span class="bold">{{model.severe}}</span> of them could use some tuning.<br>
                        About <span class="bold">{{model.critical}}</span> of them need some serious attention!
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <div class="menu-workflow">
      {{#link-to "dashboard.workflow" class="btn wf-button" role="tab" data-toggle="tab"}}Workflow{{/link-to}}
      {{#link-to "dashboard.job" class="btn wf-button" role="tab" data-toggle="tab"}} Job{{/link-to}}
      {{#link-to "dashboard.app" class="btn wf-button" role="tab" data-toggle="tab" }}Application{{/link-to}}
    </div>

</div>
<br/>

<div class="container">
    <!-- Each sub template will go here -->
  {{outlet defaultUser="defaultUser"}}
</div>
